// Colors
$background-color: #0E1424;
$background-light-color: #181f31;
$secondary-background-color: #151E30;

$support-background-light-color: #6E98AF;
$support-background-dark-color: #2c3a42;

$support-background-medium-color: #d1d3d6;

$primary-color: #428bb3;
$secondary-color: #2f6583;
$support-primary-color: #cb0b0b;
$support-secondary-color: #a72424;

$text-color: #FFFFFF;
$text-light-gray: #bdbdbd;
$text-gray: #4e535b;
$text-dark: #0E1424;

// Button Colors
$primary-button-light-color: #ED9956;
$primary-button-dark-color: #b6743f;
$primary-button-border-color: #915f36;

$secondary-button-light-color: #428bb3;
$secondary-button-dark-color: #2f6583;
$secondary-button-border-color: #20485e;

$third-button-light-color: #812AB0;
$third-button-dark-color: #631f88;
$third-button-border-color: #8b17c9;

$fourth-button-light-color: #921F8B;
$fourth-button-dark-color: #5E0D58;
$fourth-button-border-color: #72176D;

$fifth-button-light-color: #A1285A;
$fifth-button-dark-color: #6E173D;
$fifth-button-border-color: #7C1F45;

$sixth-button-light-color: #BC2C4B;
$sixth-button-dark-color: #891730;
$sixth-button-border-color: #90223A;

$support-button-light-color: #d33535;
$support-button-dark-color: #a41818;
$support-button-border-color: #a02828;

$green-button-light-color: #89c42f;
$green-button-dark-color: #4e8100;
$green-button-border-color: #4e8100;

$brand-button-light-color: #F0385F;
$brand-button-dark-color: #5725DC;
$brand-button-border-color: #5725DC;

$dark-blue-button-light-color: #171F33;
$dark-blue-button-dark-color: #151E30;
$dark-blue-button-border-color: #0C101D;

$gray-button-light-color: #D5D5D5;
$gray-button-light-content-color: #e9e9e9;
$gray-button-dark-color: #A5A4A4;
$gray-button-border-color: #CDCDCD;

// Fontes
$primary-font: 'Titillium Web', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Outras variáveis
$border-radius: 5px;
